.projetos {
    margin-bottom: 16rem;
    scroll-margin-top: 15rem;
}

.projetos .projects_content {
    max-width: 56rem;
    text-align: center;
    margin: 0 auto 6rem;
}

.projetos ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
}

.projetos ul li .projects_content {
    flex-direction: row-reverse;
}

.projetos ul li:not(:last-of-type) {
    margin-bottom: 12rem;
}


.projetos p{
    color: #FFC000;
}

.projetos .image img {
    max-width: 100%;
    height: auto;
}

.projetos .projects_content h2 {
    color:  #FFC000;
    font-family: 'ITC Benguiat Std', sans-serif;
}
@media screen and (max-width: 768px) {
    .about {
        flex-direction: column; /* Altera a direção do flexbox para empilhamento vertical */
    }

    .about .about_left,
    .about .about_right {
        max-width: 100%; /* Define a largura máxima para ocupar toda a largura da tela */
    }
}