.projetos {
    margin-bottom: 16rem;
    scroll-margin-top: 15rem;
}

.projetos .projects_content {
    max-width: 56rem;
    text-align: center;
    margin: 0 auto 6rem;
}

.projetos .slider {
    position: relative;
    overflow: hidden;
}

.projetos .slider li {
    list-style: none;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.projetos .slider input[type="radio"] {
    display: none;
}

.projetos .slider input[type="radio"]:checked ~ .slider-controls label {
    background-color: #000;
}

.projetos .slider input[type="radio"]:checked ~ .slider li {
    opacity: 1;
}

.projetos .slider-controls {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.projetos .slider-controls label {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #ccc;
    margin: 0 5px;
    cursor: pointer;
}

.projetos .slider-controls label:hover {
    background-color: #000;
}
